<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a title="Email" aria-label="Email" href="mailto:{{site.email}}" style="padding-left:10px"><i class="icon fa fa-envelope"></i></a>
        <a title="GitHub" aria-label="GitHub" target="_blank" href="https://github.com/{{site.github_username}}" style="padding-left:10px"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a title="Blog" aria-label="Blog" target="_blank" href="{{site.blog}}" style="padding-left:10px"><i class="icon fa fa-link" aria-hidden="true"></i></a>
        <a title="Google+" aria-label="Google+" target="_blank" href="https://plus.google.com/{{site.gplus_username}}/posts" style="padding-left:10px"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
